body{
    margin: 0;
    padding: 0;
    color: aliceblue;
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
}

details{
    margin-left: 5%;
}
.container{
    width: max-content;
    height: auto;
    margin-left: 5%;
}
.container p{
    background: rgb(63, 72, 99);
    display: flex;
    width: auto;
    padding: 10px;
    font-size: 25px;
    gap: 10px;
    box-sizing: border-box;
}
.container p span{
    transform: rotate(90deg);
    font-family: monospace;
}
.container ul{
    position: absolute;
    width: auto;
    background: linear-gradient(90deg, rgb(84, 15, 116), rgb(18, 37, 121), rgb(15, 118, 126));
    list-style: none;
    text-align: left;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}
.container ul li a{
    display: flex;
    color: #000;
    padding: 10px 5px;
    font-size: 20px;
    text-decoration: none;
    box-sizing: border-box;
    transition: all .3s;
}
.container p:hover ~ ul, ul:hover{
    opacity: 1;
    visibility: visible;
}
.container a:hover{
    background: rgb(0, 0, 0, 0.555);
    color: #c9c9c9;
}